<ion-view title="Log" ng-controller="CommandSetController" orientation>
  <ion-content class="light-bg has-subheader">
    <div class='list'>
      <ion-item class="item-icon-left item-text-wrap item-activity-log" ng-show="!activityLog.getLog().length"><i class="icon ion-alert"></i>No log entries yet.</ion-item>
      <ion-item  class="item-icon-left item-text-wrap item-activity-log" ng-repeat="log in activityLog.getLog() track by $index">
        <i class="icon {{ (log.status == 'success' || log.status == 'socketio') ? 'ion-help' : 'ion-alert assertive'}}"></i>
        <span class="{{(log.status == 'success' || log.status == 'socketio') ? '' : 'assertive'}}">{{log.message}}</span>
      </ion-item >
    </div>
  </ion-content>
</ion-view>
