<ion-view title="Command sets" orientation>
  <ion-content class="has-subheader royal-bg command-sets-content">
    <ion-list class="commander-list">
      <ion-item class="item-divider">
        Local Command Sets
      </ion-item>
      <ion-item class="item-calm" ng-show="!commandSets.length">There aren't any command sets yet.</ion-item>
      <ion-item class="item-button-right" ng-repeat="commandSet in commandSets track by $index">
        {{commandSet.name || "Unnamed set"}}
        <button ng-click="useCommandSet($index)" ng:class="getClass($index)" class="button">{{getTitle($index)}}</button>
        <ion-option-button class="button button-stable item-delete icon ion-ios7-trash" ng-click="removeCommandSet($index)"></ion-option-button>
      </ion-item>
    </ion-list>

    <ion-list class="commander-list">
      <ion-item class="item item-divider">
        Load command sets from JSON
      </ion-item>
      <label class="item item-input">
        <span class="input-label">URL</span>
        <input ng-model="url" type="text" placeholder="http://server:port/command_set_endpoint">
      </label>
      <button ng-click="loadCommandSet(url)" class="button button-positive button-block commander-save-button">Load</button>
    </ion-list>
  </ion-content>
</ion-view>
