<ion-view title="Command sets" orientation>
  <ion-content class="has-subheader royal-bg command-sets-content">
    <ion-list class="commander-list">
      <ion-item class="item-divider">
        Local Command Sets
      </ion-item>
      <ion-item class="item-calm" ng-show="!commandSets.length">There aren't any command sets yet.</ion-item>
      <ion-item class="item-button-right" ng-repeat="commandSet in commandSets track by $index">
        {{commandSet.name || "Unnamed set"}}
        <button ng-click="useCommandSet($index)" ng:class="getClass($index)" class="button">{{getTitle($index)}}</button>
        <ion-option-button class="button button-stable item-delete icon ion-ios7-trash" ng-click="removeCommandSet($index)"></ion-option-button>
      </ion-item>
    </ion-list>

    <ion-list class="commander-list">
      <ion-item class="item item-divider" ng-click="showFromJson()">
        <i class="icon" ng-class="editMode === 'json' ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
        Load command sets from JSON
      </ion-item>
      <label class="item item-input" ng-show="editMode === 'json'">
        <span class="input-label">URL</span>
        <input ng-model="form.url" type="url" placeholder="http://server:port/command_set_endpoint">
      </label>
      <label class="item item-input item-select"  ng-show="editMode === 'json'">
        <div class="input-label">
          Authentication
        </div>
        <select ng-model="form.auth">
          <option value='none' selected>None</option>
          <option value='basic'>Basic</option>
        </select>
      </label>
      <label class="item item-input" ng-show="editMode === 'json' && form.auth == 'basic'">
        <span class="input-label">Username</span>
        <input ng-model="form.username" type="text" placeholder="username">
      </label>
      <label class="item item-input" ng-show="editMode === 'json' && form.auth == 'basic'">
        <span class="input-label">Password</span>
        <input ng-model="form.password" type="password" placeholder="password">
      </label>
      <div ng-show="connections.length">
        <ion-item class="item item-divider" ng-click="showFromConnection()">
          <i class="icon" ng-class="editMode === 'connection' ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
          Load command sets from connection
        </ion-item>
        <label class="item item-input" ng-show="editMode === 'connection'">
          <span class="input-label">Current Connection: {{api.url}}</span>
        </label>
      </div>
      <button ng-click="loadCommandSet(form)" ng-show="editMode === 'json'" class="button button-positive button-block commander-save-button">Load</button>
      <button ng-click="loadCommandSetFromConnection()" ng-show="editMode === 'connection'" class="button button-positive button-block commander-save-button">Load</button>
    </ion-list>
  </ion-content>
</ion-view>
