<ion-view title="Manage commands">
  <ion-content class="royal-bg has-subheader">
    <ul class="list">
      <li class="item item-button-right" ng-repeat="command in commands  track by $index">
        <a href="#/edit/{{$index}}">
          {{command.label}}
        </a>
        <button class="button button-assertive" ng-click="removeCommand(command)">
          <i class="icon ion-close-round"></i>
        </button>
      </li>
    </ul>

    <a href="#/add" class="button button-light button-block">+ Add command</a>
  </ion-content>
</ion-view>
