<ion-view title="Connections" orientation>
  <ion-content class="has-subheader royal-bg connections-content">
    <ion-list class="commander-list">
      <ion-item class="item-divider">
        Local Connections
      </ion-item>
      <ion-item class="item-calm" ng-show="!connections.length">There aren't any connections yet.</ion-item>
      <ion-item class="item-button-right" ng-repeat="connection in connections track by $index">
        {{connection}}
        <button ng-click="useConnection($index)" ng:class="getClass($index)" class="button">{{getTitle($index)}}</button>
        <ion-option-button class="button button-stable item-delete icon ion-ios7-trash" ng-click="removeConnection($index)"></ion-option-button>
      </ion-item>
    </ion-list>

    <ion-list class="commander-list">
      <ion-item class="item item-divider">
        Add Connections
      </ion-item>
      <label class="item item-input">
        <span class="input-label">API URL</span>
        <input ng-model="apiUrl" type="url" placeholder="http://localhost:8080/api">
      </label>
      <button ng-click="addConnection(apiUrl)" class="button button-positive button-block commander-save-button">Add</button>
    </ion-list>

  </ion-content>
</ion-view>
