<ion-view title="Connection">
  <ion-content class="has-subheader">
    <div class="list ">
      <label class="item item-input">
        <span class="input-label">Host</span>
        <input ng-model="api.host" type="text" placeholder="http://localhost">
      </label>
      <label class="item item-input">
        <span class="input-label">Port</span>
        <input ng-model="api.port" type="text" placeholder="8080">
      </label>
    </div>

    <a href="#/config" ng-click="editAPI(api)" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>
