<ion-view title="{{message}}">
  <ion-content class="royal-bg has-subheader">
    <ul class="list">
      <li class="item item-checkbox" ng-if="remotesEndpointAvailable()">
        The commands will be imported from an external endpoint that returns a JSON structure, please set the endpoint first.
      </li>
      <li class="item item-checkbox" ng-repeat="remote in remotes track by $index">
        <label class="checkbox">
          <input type="checkbox" ng-model="remote.selected" name="remotes.label">
        </label>
        {{remote.label}}
      </li>
    </ul>

    <a href="#/config" ng-click="saveRemotes(remotes)" class="button button-positive button-block">Save</a>
    <a href="#/config" class="button button-assertive button-block">Cancel</a>
    <button href="#/config" ng-click="getRemoteCommands()" class="button button-outline button-block item item-icon-right button-light">
      Re-load remote commands
      <i class="icon ion-refresh"></i>
    </button>
    <a href="#/remotes_config" class="button button-outline button-block item item-icon-right">
      Config Endpoint
      <i class="icon ion-gear-a"></i>
    </a>
  </ion-content>
</ion-view>
