.right-buttons {
  .badge {
    line-height: 18px;
    width: 24px;
    height: 24px;
    border-radius: 22px;
    font-size: 14px;
    margin-right: 3px;
    margin-top: 5px;
  }
}

.item-activity-log {
  padding: 10px;
  font-size: 14px;

  &.item-icon-left {
    padding-left: 45px;
  }

  .icon {
    font-size: 14px;
  }
}
