.command-sets-content {
  .commander-list {
    .list {
      .item {
        &.item-button-right {
          padding-right: 0;
        }

        .item-options {
          .item-delete {
            padding-top: 5px;
            
            &:before {
              font-size: 32px;
            }
          }         
        }
      }
    }
  }
}
