.connections-content {
  .commander-list {
    .list {
      .item {
        &.item-button-right {
          padding-right: 0;
        }

        .item-content {
          color: #6a6a6a;
        }
        input {
          height: 20px;
          font-size: 16px;
          line-height: 16px;
          padding: 0;
          margin: 0;
          color: #333;
        }

        button.button-icon {
          &:after {

          }
          &:before {
            font-size: 34px;
            line-height: 36px;
          }
        }

        button.save-button {
          color: #66cc33;
          padding-right: 0;
        }
        button.cancel-button {
          margin-right: 30px;
        }
        .item-options {
          .item-delete {
            padding-top: 5px;
            
            &:before {
              font-size: 32px;
            }
          }         
        }
      }
    }
  }
}
