/* Joystick */

.joystick {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0px 15px;

  p {
    font-family: "Novecento wide";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 68px;
    height: 68px;
    line-height: 64px;  
  }

  h3 {
    color: #fff; /* text color */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .joystick-row {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .joystick-col {
    text-align: center;
  }

  .joystick-buttons-row {
    width: 100%;
  }
  .joystick-buttons-col {
    width: 25%;
    float: left;
  }

  .joystick-background {
    position: relative;
    margin: 15px auto 15px;
    width: 131px;
    height: 131px;
    border-radius: 66px;
    background-image: url('../img/joystick-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    overflow: hidden;
  }

  .joystick-stick {
    position: relative;
    z-index: 1001;
    margin-top: 35px;
    margin-left: 35px;
    width: 61px;
    height: 61px;
    border-radius: 33px;
    background-image: url('../img/joystick-stick.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .joystick-button {
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;

    &.white {
      background-image: url('../img/white-button.png');
    }
    &.red {
      background-image: url('../img/red-button.png');
    }
    &.green {
      background-image: url('../img/green-button.png');
    }
    &.blue {
      background-image: url('../img/blue-button.png');
    }
    &.yellow {
      background-image: url('../img/yellow-button.png');
    }

    &.white p {
      color: #6d7b83; /* text color */
      text-shadow: 0 1px 0 #212a3e; /* drop shadow */
    }
    &.red p {
      color: #7c0000; /* text color */
      text-shadow: 0 1px 0 #ef5f5f; /* drop shadow */
    }
    &.green p {
      color: #1d7c00; /* text color */
      text-shadow: 0 1px 0 #d0ef5f; /* drop shadow */
    }
    &.blue p {
      color: #00277c; /* text color */
      text-shadow: 0 1px 0 #5f8def; /* drop shadow */
    }
    &.yellow p {
      color: #7c7b00; /* text color */
      text-shadow: 0 1px 0 #d0ef5f; /* drop shadow */
    }
  }
}

@media (max-height: 320px) {
  .joystick {
    .joystick-background {
      width: 116px;
      height: 116px;
      margin: 10px auto 5px;
    }
    .joystick-stick {
      margin-left: 31px;
      margin-top: 31px;
      width: 55px;
      height: 55px;
    }
    .joystick-button {
      margin: 0px auto 5px;
    }
  }
}



/*Joystick Platform specific changes*/
.platform-ios .joystick {
  p {
    font-family: "AppleSDGothicNeo-Bold";
    line-height: 72px;
  }
}
.platform-android .joystick {
  p {
    line-height: 66px;
  }
}
