/* Empty. Add your own CSS if you like */
.top-logo img {
 height: 33px;
}

.controls {
  text-align: center;
  padding: 10px;
}

.controls button {
  margin: 5px;
  width: 28%;
}

.sub-bar {
  top: 45px !important;
}

.has-header{
  top: 88px !important;
}
