/* Empty. Add your own CSS if you like */
.top-logo img {
 height: 33px;
}

.controls {
  text-align: center;
  padding: 10px;
}

.controls button {
  margin: 5px;
  width: 28%;
}

/*@media only screen*/
/*and (min-device-width : 320px)*/
/*and (max-device-width : 480px) {*/
  /*.bar, .bar-header {*/
    /*margin: 0px !important;*/
    /*padding: 0px !important;*/
    /*line-height: 44px !important;*/
  /*}*/
  /*.has-subheader{*/
    /*top: 109px !important;*/
  /*}*/

  /*.sub-bar {*/
    /*top: 65px !important;*/
  /*}*/
/*}*/

/*@media only screen*/
/*and (min-device-width : 320px)*/
/*and (max-device-width : 568px) {*/
  /*.bar, .bar-header {*/
    /*margin: 0px !important;*/
    /*padding: 0px !important;*/
    /*line-height: 44px !important;*/
  /*}*/

  /*.has-subheader{*/
    /*top: 109px !important;*/
  /*}*/

  /*.sub-bar {*/
    /*top: 65px !important;*/
  /*}*/
/*}*/