<ion-view title="{{command_set.name}}: {{command_set.type}}" orientation data-command-set-orientation="{{command_set.orientation || 'any'}}">
  <ion-content class="royal-bg has-subheader" scroll="false">
    <ion-list>
      <div class="d-pad">
        <div class='row dpad-row'>
          <div class='col up-button-col'><button vibrate button class="dpad-button up-button" command-name="{{commands[0].name}}0"></button></div>
        </div>
        <div class='row dpad-row'>
          <div class='col col-50 left-button-col'><button vibrate button class="dpad-button left-button" command-name="{{commands[2].name}}2"></button></div>
          <div class='col col-50 right-button-col'><button vibrate button class="dpad-button right-button" command-name="{{commands[3].name}}3"></button></div>
        </div>
        <div class='row dpad-row'>
          <div class='col down-button-col'><button vibrate button class="dpad-button down-button" command-name="{{commands[1].name}}1"></button></div>
        </div>
        <div class='d-pad-extra-buttons-row' ng-if="buttons">
          <div class='d-pad-buttons-col' ng-repeat="command in buttons.slice(4) track by $index">
            <div vibrate button class="joystick-button {{command.color ? command.color : 'white'}}" command-name="{{command.name}}{{$index+4}}">
              <p id="button{{$index+4}}">{{command.label}}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

