<ion-view title="{{command_set.name}}: {{command_set.type}}" orientation data-command-set-orientation="{{command_set.orientation || 'any'}}">
  <ion-content class="royal-bg has-subheader" scroll="false">
    <ion-list>
      <div class="d-pad">
        <div class='row dpad-row'>
          <div class='col up-button-col'><button vibrate class="dpad-button up-button" ng-click="execute(commands[0])"></button></div>
        </div>
        <div class='row dpad-row'>
          <div class='col col-50 left-button-col'><button vibrate class="dpad-button left-button" ng-click="execute(commands[2])"></button></div>
          <div class='col col-50 right-button-col'><button vibrate class="dpad-button right-button" ng-click="execute(commands[3])"></button></div>
        </div>
        <div class='row dpad-row'>
          <div class='col down-button-col'><button vibrate class="dpad-button down-button" ng-click="execute(commands[1])"></button></div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

