<ion-view title="{{command_set.name}}: {{command_set.type}}" orientation data-command-set-orientation="{{command_set.orientation || 'any'}}">
  <ion-content class="royal-bg has-subheader" scroll="false">
    <div class="joystick">
      <div class='row joystick-row' ng-if="joysticks">
        <div class='col joystick-col' ng-repeat="command in joysticks track by $index">
          <div class='joystick-background'>
            <div vibrate joystick class="joystick-stick" data-command-index="{{$index}}" data-tap-disabled="true" id="joystick{{$index}}"></div>
          </div>
          <div>
            <h3>{{command.label}}</h3>
          </div>
        </div>
      </div>
      <div class='joystick-buttons-row' ng-if="joysticksButtons">
        <div class='joystick-buttons-col' ng-repeat="command in joysticksButtons track by $index">
          <div vibrate joystick class="joystick-button {{command.color ? command.color : 'white'}}" command-name="{{command.name}}{{$index}}">
            <p id="button{{$index}}">{{command.label}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

