/* Empty. Add your own CSS if you like */
@import url("dpad.css");

.top-logo img {
 height: 33px;
}

.controls button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  white-space: normal !important;
}

.input-label {
  width: 15%;
}

input[type=text] {
  min-width: 85%;
}

.command-set-item {
  padding: 14px;
}