/* Empty. Add your own CSS if you like */
.top-logo img {
 height: 33px;
}

.controls button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  white-space: normal !important;
}

.input-label {
  width: 15%;
}

input[type=text] {
  min-width: 85%;
}

.command-set-item {
  padding: 14px;
}

/* Directional pad (d-pad) */

.d-pad {
  display: inline-block;
  position: relative;
  /*background:#AD0F0F;*/
  width: 100%;
  height: 400px;
  padding: 30px 15px;
  border-radius: 20px;
  /*border: 1px solid #410707;*/
  /*border-bottom-width: 5px;*/
  /*box-shadow: 0 2px 5px rgba(2,0,0,0.7),*/
    /*inset 0 0 10px rgba(255,255,255,0.5),*/
    /*inset 0 2px 2px rgba(255,255,255,0.25);*/
}

.dpad-row {
  height: 90px;
}

.up-button-col, .down-button-col {
  text-align: center;
}
.left-button-col {
  text-align: right;
  padding-right: 45px;
}
.right-button-col {
  text-align: left;
  padding-left: 45px;
}
.dpad-button {
  margin: 0 auto;
  z-index: 1001;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: 0 3px 0 #535353, inset 0 0 10px rgba(10,10,10,0.3);
  appearance: none;
  border-radius: 500px;
  cursor: pointer;
}
.dpad-button:after {
  position: relative;
  display: block;
  content: "";
  top: -23px;
  left: -12px;
  width: 110px;
  height: 110px;
  border-radius: 60px;
  box-shadow: 0 2px 2px rgba(255,255,255,0.25),inset 0 2px 2px rgba(0,0,0,0.5);
}
.dpad-button:active {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  -o-transform:scale(0.9);
  transform:scale(0.9);
  -webkit-box-shadow:0px 0px 20px #FFF;
  -moz-box-shadow:0px 0px 20px #FFF;
  -o-box-shadow:0px 0px 20px #FFF;
  box-shadow:0px 0px 20px #FFF;
}
.dpad-button:before {
  position: relative;
  
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #5F5F5F;
  box-shadow: 0 2px 2px rgba(50,50,50,0.25), inset 1px 1px 0 rgba(255,255,255,0.5);
}
.up-button:before {
  top: 4px;
  left: 35px;
}
.down-button:before {
  top: 74px;
  left: 35px;
}
.left-button:before {
  top: 40px;
  left: 1px;
}
.right-button:before {
  top: 40px;
  left: 70px;
}

.dpad-button:active ~ .screen .char{
  transition: margin-top 2s linear,
              margin-left 2s linear;
}